html {}

body {
    background-color: #e3e0cf
    
}
.nav-item{

    text-align: end
}
.navbar-brand{

    margin-left: 110px
    
}

.navbar {
    height: 100px
    
}

a.nav-link {
    font-size: 20px; 
}



.img-fluid {max-width: 82%; height: auto; align-content: center; margin-left: 123px; margin-top: 20px
}